[Unit]
Description=inverterd
After=network.target

[Service]
EnvironmentFile=/etc/default/inverterd
Restart=on-failure
ExecStart=/usr/local/bin/inverterd $PARAMS

[Install]
WantedBy=multi-user.target
